{% comment %} Video Banner Section {% endcomment %}
{{ 'video-banner.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign video_id = section.settings.video.id | default: section.settings.video_url.id
  assign video_alt = section.settings.video.alt | default: section.settings.description
  assign alt = 'sections.video.load_video' | t: description: video_alt | escape
  assign poster = section.settings.video.preview_image | default: section.settings.cover_image

-%}


<div class="video-banner color-{{ section.settings.color_scheme }} gradient">
  <div class="video-banner__content">
    <div class="video-banner__text-overlay">
      <h2 class="video-banner__title {{ section.settings.title_size }}">
        {{ section.settings.title }}
      </h2>
      <p class="video-banner__subtitle {{ section.settings.subtitle_size }}">
        {{ section.settings.subtitle }}
      </p>
      <div class="video-banner__cta-buttons">
        <a href="{{ section.settings.button_1_link }}" class="video-banner__cta-button video-banner__cta-button--1">
          <span class="underline">{{ section.settings.button_1_text }}</span>
        </a>
        <a href="{{ section.settings.button_2_link }}" class="video-banner__cta-button video-banner__cta-button--2">
          <span class="underline">{{ section.settings.button_2_text }}</span>
        </a>
      </div>
    </div>

    <div class="video-banner__media">
      {%- if section.settings.video == null and section.settings.video_url != null -%}
        {%- liquid
          assign loop = ''
          if section.settings.enable_video_looping
            assign loop = '&loop=1&playlist=' | append: video_id
          endif
        -%}
        {%- if section.settings.video_url.type == 'youtube' -%}
          <iframe
            class="video-banner__video js-youtube"
            src="https://www.youtube.com/embed/{{ video_id }}?autoplay=1&mute=1&playsinline=1{{ loop }}"
            allow="autoplay; encrypted-media"
            allowfullscreen
            title="{{ section.settings.description | escape }}"
          ></iframe>
        {%- else -%}
          <iframe
            class="video-banner__video js-vimeo"
            src="https://player.vimeo.com/video/{{ video_id }}?autoplay=1&muted=1&playsinline=1{{ loop }}"
            allow="autoplay; encrypted-media"
            allowfullscreen
            title="{{ section.settings.description | escape }}"
          ></iframe>
        {%- endif -%}
      {%- else -%}
        {{
          section.settings.video
          | video_tag:
            class: 'video-banner__video',
            image_size: '1100x',
            autoplay: true,
            loop: section.settings.enable_video_looping,
            controls: false,
            muted: true,
            playsinline: true
        }}
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Video Banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Video Settings"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": ["youtube", "vimeo"],
      "label": "Video URL",
      "info": "Add a YouTube or Vimeo video"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable Video Looping",
      "default": false
    },
    {
      "type": "header",
      "content": "Overlay Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Video Banner Title"
    },
    {
      "type": "select",
      "id": "title_size",
      "options": [
        {"value": "h2", "label": "Medium"},
        {"value": "h1", "label": "Large"},
        {"value": "h0", "label": "Extra Large"}
      ],
      "default": "h1",
      "label": "Title Size"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Video Banner Subtitle"
    },
    {
      "type": "select",
      "id": "subtitle_size",
      "options": [
        {"value": "h3", "label": "Small"},
        {"value": "h2", "label": "Medium"},
        {"value": "h1", "label": "Large"}
      ],
      "default": "h2",
      "label": "Subtitle Size"
    },
    {
      "type": "header",
      "content": "CTA Buttons"
    },
    {
      "type": "text",
      "id": "button_1_text",
      "label": "First Button Text",
      "default": "First Button"
    },
    {
      "type": "url",
      "id": "button_1_link",
      "label": "First Button Link"
    },
    {
      "type": "text",
      "id": "button_2_text",
      "label": "Second Button Text",
      "default": "Second Button"
    },
    {
      "type": "url",
      "id": "button_2_link",
      "label": "Second Button Link"
    },
    {
      "type": "header",
      "content": "Color and Style"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Video Banner"
    }
  ]
}
{% endschema %}